<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ルーレットメーカー</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<body>
    <h1>ルーレットメーカー</h1>
    <div id="canvas_box">
        <canvas id="roulette"></canvas>
        <img id="neko" src="../static/img/neko2.png" alt="">
    </div>

    <div id="app">
        <!-- <img src="../static/img/yajirushi.png" alt="" id="yajirushi" > -->
        <div id="container">
            <div class="message" v-if="mode=='none'">画面タップしてルーレット開始</div>  
            <div class="message" v-else-if="mode=='speed_up'">画面タップで停止</div>
            <div class="message" id="result" >結果：[[message]]</div>
        </div>

        <div id="etc">
            <div class="etc_txt">
                このサイトでは誰でも無料でルーレットを作成することができます。<br>
                何かに迷った時に使ってみてください！
            </div>
        </div>

        <footer>
            <div id="footer_txt">
                &copy;2022 Tamagokakegohan
            </div>
            
        </footer>
    </div>

    
    <script src="../static/js/vue.js"></script>
    <!-- <script src="../static/js/Chart.min.js"></script> -->

    <!-- <script src="../static/js/chartjs-plugin-datalabels@2.0.0"></script> -->
    <script src="../static/js/roulette.js"></script>

</body>
</html>