<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>運勢ルーレット</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<body>
    <h1>今日の運勢</h1>
    <canvas id="roulette">
    </canvas>
    <div id="app">
        <img src="../static/img/yajirushi.png" alt="" id="yajirushi" >
        <div id="container">
            <div class="message" v-if="!show">画面タップしてルーレット開始</div>  
            <div class="message" v-else-if="show">画面タップで停止</div>
            <div class="message" v-if="finish">
                運勢はどうでしたか?<br>
                では実験のページにもどっでください
            </div>
            <div class="message" v-if="finish">{{message}}</div>
        </div>
    </div>
    <script src="../static/js/vue.js"></script>
    <!-- <script src="../static/js/Chart.min.js"></script> -->

    <!-- <script src="../static/js/chartjs-plugin-datalabels@2.0.0"></script> -->
    <script src="../static/js/roulette.js"></script>

</body>
</html>